<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />

	<bean id="databaseUrl" class="java.lang.String">
		<constructor-arg index="0"
			value="jdbc:h2:mem:discography;IGNORECASE=TRUE" />
	</bean>

	<bean id="connectionSource" class="com.j256.ormlite.jdbc.JdbcConnectionSource"
		init-method="initialize">
		<property name="url" ref="databaseUrl" />
	</bean>

	<bean id="bookORMLite" class="com.j256.ormlite.spring.DaoFactory"
		factory-method="createDao">
		<constructor-arg index="0" ref="connectionSource" />
		<constructor-arg index="1"
			value="org.h2dev.bookstore.model.Book" />
	</bean>
	
	<bean id="bookStatusORMLite" class="com.j256.ormlite.spring.DaoFactory"
		factory-method="createDao">
		<constructor-arg index="0" ref="connectionSource" />
		<constructor-arg index="1"
			value="org.h2dev.bookstore.model.BookStatus" />
	</bean>

</beans>